.container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main {
  font-size: .9em;
  opacity: 0;
  transform: translateY(-30px);
  transition: opacity 1s, transform 1s ease, font-size 1s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

.visible {
  font-size: 1em;
  opacity: 1;
  transform: translateY(0);
}

.onLoadVisible {
  opacity: 1;
  transform: translateY(0);
}