.container {
  max-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 4rem 0 0 0;
}

.section1 {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 3rem;
  position: relative;
  max-width: 100%;
  margin-top: 4rem;
  animation: fade-slide-down 2s .6s cubic-bezier(.23, .53, .36, .85) forwards;
  opacity: 0;
}

.h1 {
  position: absolute;
  top: -50px;
  left: 31%;
  font-size: 5.2vw;
  line-height: 1;
}

.h1 span {
  padding-left: 11.5rem;
}

.myDescription {
  max-width: 45%;
  padding-bottom: 2rem;
  opacity: 80%;
}

.myDescription a {
  color: #8884FF;
  font-weight: bold;
  text-decoration: none;
}

.yohanPhoto {
  filter: drop-shadow(rgba(0, 0, 0, 0.171) 10px 10px 20px);
}

/* ANIMATION */

.visible {
  font-size: 1em;
  opacity: 1;
  transform: translateY(0);
}

.onLoadVisible {
  opacity: 1;
  transform: translateY(0);
}

.sliderContainer {
  background-color: #1d1d1f;
  border-radius: 20px;
  padding: 0.5rem 2rem;
  overflow: hidden;
  animation: fade-slide-down 2s .3s cubic-bezier(.23, .53, .36, .85) forwards;
  opacity: 0;
}

.slider {
  position: relative;
  white-space: nowrap;
  display: flex;
}

.slider p {
  margin: 0;
  color: #fafafa;
  font-weight: 800;
  font-size: 2vw;
}

.slider p:nth-last-of-type(2) {
  position: absolute;
  left: 110%;
}

@keyframes fade-slide-down {
  0% {
    opacity: 0;
    transform: translateY(-1rem);
  }

  100% {
    opacity: 100;
    transform: none;
  }
}
