.container {
    max-width: 100vw;
    padding: 0 0rem;
    margin: 0;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
}
.nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 3rem;
}

.nav a{
    color: #47585C;
    opacity: 70%;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    transition: opacity .3s ease;
}

.nav a:hover{
    opacity: 100%;
}

.nav a::after {
    content: "";
    width: 0%;
    display: block;
    height: 3px;
    transition: all .3s ease;
    margin-top: 2px;
}

.nav a:hover::after {
    width: 100%;
    height: 3px;
    background-color: #47585C;
}

.footer {
    padding: 2rem 12rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-color: #3A3A5C;
    color: #F4F5C6;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 12px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.footerDescription {
    max-width: 18%;
}

.siteNav {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: .5rem;
}

.siteNav h2, .socials h2{
    margin: 0;
    font-size: 16px;
    font-weight: 600;
}

.siteNav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.socials {
    max-width: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: .6rem;
}

.socialsLinks {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.logo {
    height: 80px;
}
